body {
    font-family:"Times New Roman";
	transition: background-color O.3s, color 0.3s; padding: 20px
	}
	#theme-toggle { text-algin: center; margin-bottom: 20px;
	}
	button {
	margin: 5px;
	padding: 10px 16px;
	font-size: 16px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	}

	body.day {
	background-color: #ffffff;
	color: #000000;
	}
	body.day h1
	body.day h2 {
		color: #333333;
	}
	body.day button {
		background-color: #dddddd;
	color: #000000;
	}
	
	body.night {
	background-color: #000000;
	color: #ffffff;
	}
	body.night h1
	body.night h2 {
		color #ffd700;
		}
	body.night button {
		background-color: #222222;
	color: #ffffff;}
    
	background-color: #000;
    color: #fff;
    padding: 20px;
}

header, footer {
    text-align: center;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

h1, h2 {
    color: #CC9900; /* złoty kolor */
}
body {
	font-size: 16px;
	line-height: 1.6;
	padding: 16px;
	margin: 0;
}
section {
	margin-bottom: 30px;
}
h1, h2 {
	text-algin: center;
}
button {
	font-size: 18px;
	padding: 10px 20px;
	margin: 8px;
	border-radius: 8px;
	
	@media (max-width: 600px) {
		body {
			font-size: 22px;
		}
		button {
			width: 100%;
			font-size: 20px;
		}
	}